In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
X =pd.read_csv('train_ctrUa4K.csv', error_bad_lines=False)

X.head(20)

     Loan_ID  Gender Married  ... Credit_History Property_Area Loan_Status
0   LP001002    Male      No  ...            1.0         Urban           Y
1   LP001003    Male     Yes  ...            1.0         Rural           N
2   LP001005    Male     Yes  ...            1.0         Urban           Y
3   LP001006    Male     Yes  ...            1.0         Urban           Y
4   LP001008    Male      No  ...            1.0         Urban           Y
5   LP001011    Male     Yes  ...            1.0         Urban           Y
6   LP001013    Male     Yes  ...            1.0         Urban           Y
7   LP001014    Male     Yes  ...            0.0     Semiurban           N
8   LP001018    Male     Yes  ...            1.0         Urban           Y
9   LP001020    Male     Yes  ...            1.0     Semiurban           N
10  LP001024    Male     Yes  ...            1.0         Urban           Y
11  LP001027    Male     Yes  ...            1.0         Urban           Y
12  LP001028    Male     Yes  ...            1.0         Urban           Y
13  LP001029    Male      No  ...            1.0         Rural           N
14  LP001030    Male     Yes  ...            1.0         Urban           Y
15  LP001032    Male      No  ...            1.0         Urban           Y
16  LP001034    Male      No  ...            NaN         Urban           Y
17  LP001036  Female      No  ...            0.0         Urban           N
18  LP001038    Male     Yes  ...            1.0         Rural           N
19  LP001041    Male     Yes  ...            1.0         Urban           Y

[20 rows x 13 columns]

In [3]:
Xt=pd.read_csv('test.csv', error_bad_lines=False)
#Xt.isnull().sum()

In [4]:
#targets = X.Loan_Status
#X.drop('Loan_Status', 1, inplace=True)

In [5]:
X.corr(method ='pearson') 
X.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [6]:
X['Gender'].fillna(X['Gender'].mode()[0], inplace=True)
X['Married'].fillna(X['Married'].mode()[0], inplace=True)
X['Self_Employed'].fillna(X['Self_Employed'].mode()[0], inplace=True)
X['Dependents'].fillna(X['Dependents'].mode()[0], inplace=True)
X['Loan_Amount_Term'].fillna(X['Loan_Amount_Term'].mode()[0], inplace=True)
X['Credit_History'].fillna(2, inplace=True)
X.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [7]:
X['Very_Short_Term'] = X['Loan_Amount_Term'].map(lambda t: 1 if t<=60 else 0)
X['Short_Term'] = X['Loan_Amount_Term'].map(lambda t: 1 if t>60 and t<180 else 0)
X['Long_Term'] = X['Loan_Amount_Term'].map(lambda t: 1 if t>=180 and t<=300  else 0)
X['Very_Long_Term'] = X['Loan_Amount_Term'].map(lambda t: 1 if t>300 else 0)
# X.drop('Loan_Amount_Term', axis=1, inplace=True)

X['Credit_History_Bad'] = X['Credit_History'].map(lambda c: 1 if c==0 else 0)
X['Credit_History_Good'] = X['Credit_History'].map(lambda c: 1 if c==1 else 0)
X['Credit_History_Unknown'] = X['Credit_History'].map(lambda c: 1 if c==2 else 0)
X.drop('Credit_History', axis=1, inplace=True)

In [8]:
X['Self_Employed'].value_counts()

No     532
Yes     82
Name: Self_Employed, dtype: int64

In [9]:
X['TotalIncome'] = X['ApplicantIncome'] + X['CoapplicantIncome']
X['TotalIncome_log'] = np.log(X['TotalIncome'])

# Xt['TotalIncome'] = Xt['ApplicantIncome'] + Xt['CoapplicantIncome']
# Xt['TotalIncome_log'] = np.log(Xt['TotalIncome'])
# Xt.drop(['ApplicantIncome','CoapplicantIncome'],axis=1)
X['total_income_by_loanAmt'] = X['TotalIncome'] / X['LoanAmount']
X['ApplicantIncome_by_loanAmt'] = X['ApplicantIncome'] / X['LoanAmount']
X['Loan_Amount_Term_By_amt'] = X['LoanAmount'] / X['Loan_Amount_Term']
X.drop(['ApplicantIncome','CoapplicantIncome'],axis=1)

      Loan_ID  Gender  ... ApplicantIncome_by_loanAmt Loan_Amount_Term_By_amt
0    LP001002    Male  ...                        NaN                     NaN
1    LP001003    Male  ...                  35.804688                0.355556
2    LP001005    Male  ...                  45.454545                0.183333
3    LP001006    Male  ...                  21.525000                0.333333
4    LP001008    Male  ...                  42.553191                0.391667
..        ...     ...  ...                        ...                     ...
609  LP002978  Female  ...                  40.845070                0.197222
610  LP002979    Male  ...                 102.650000                0.222222
611  LP002983    Male  ...                  31.905138                0.702778
612  LP002984    Male  ...                  40.550802                0.519444
613  LP002990  Female  ...                  34.458647                0.369444

[614 rows x 22 columns]

In [10]:
# table = X.pivot_table(values='LoanAmount', index='Self_Employed' ,columns='Education', aggfunc=np.median)
# # Define function to return value of this pivot_table
# def fage(x):
#  return table.loc[x['Self_Employed'],x['Education']]
# # Replace missing values
# X['LoanAmount'].fillna(X[X['LoanAmount'].isnull()].apply(fage, axis=1), inplace=True)
# X['LoanAmount_log'] = np.log(X['LoanAmount'])
# X=X.drop(['ApplicantIncome','CoapplicantIncome'],axis=1)
# X['LoanAmount_log'].hist(bins=20)
# # X['LoanAmount'].fillna(X['LoanAmount'].mean(), inplace=True)

In [11]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['Gender','Married','Dependents','Education','Self_Employed','Property_Area','Loan_Status']
le = LabelEncoder()
for i in var_mod:
    X[i] = le.fit_transform(X[i])
X.head()
X.corr(method ='pearson')

                              Gender  ...  Loan_Amount_Term_By_amt
Gender                      1.000000  ...                 0.061873
Married                     0.364569  ...                 0.094022
Dependents                  0.172914  ...                 0.103853
Education                   0.045364  ...                -0.081170
Self_Employed              -0.000525  ...                 0.054007
ApplicantIncome             0.058809  ...                 0.324292
CoapplicantIncome           0.082912  ...                 0.135536
LoanAmount                  0.109520  ...                 0.491795
Loan_Amount_Term           -0.074030  ...                -0.501511
Property_Area              -0.025752  ...                 0.038011
Loan_Status                 0.017987  ...                -0.012525
Very_Short_Term            -0.004127  ...                 0.641758
Short_Term                  0.010999  ...                 0.105883
Long_Term                   0.086383  ...                 0.178106
Very_Long_Term             -0.082298  ...                -0.381304
Credit_History_Bad         -0.009170  ...                -0.013461
Credit_History_Good         0.026655  ...                -0.063872
Credit_History_Unknown     -0.028981  ...                 0.114138
TotalIncome                 0.093191  ...                 0.367706
TotalIncome_log             0.167285  ...                 0.385734
total_income_by_loanAmt    -0.012072  ...                -0.039428
ApplicantIncome_by_loanAmt -0.075325  ...                -0.045561
Loan_Amount_Term_By_amt     0.061873  ...                 1.000000

[23 rows x 23 columns]

In [12]:
from sklearn.impute import KNNImputer
X_=X.copy()
X_.drop(['Loan_ID'],axis=1, inplace=True)
imputer = KNNImputer(n_neighbors=15)
imputed = imputer.fit_transform(X_)
ximp = pd.DataFrame(imputed, columns=X_.columns)
ximp.head()

# X['LoanAmount'].fillna(X['LoanAmount'].mean(), inplace=True)
# ximp=X.copy()

   Gender  Married  ...  ApplicantIncome_by_loanAmt  Loan_Amount_Term_By_amt
0     1.0      0.0  ...                   39.546616                 0.450278
1     1.0      1.0  ...                   35.804688                 0.355556
2     1.0      1.0  ...                   45.454545                 0.183333
3     1.0      1.0  ...                   21.525000                 0.333333
4     1.0      0.0  ...                   42.553191                 0.391667

[5 rows x 23 columns]

In [13]:
xs=ximp.copy()
target=xs['Loan_Status']
xs=xs.drop('Loan_Status',axis=1)
xs.head()

   Gender  Married  ...  ApplicantIncome_by_loanAmt  Loan_Amount_Term_By_amt
0     1.0      0.0  ...                   39.546616                 0.450278
1     1.0      1.0  ...                   35.804688                 0.355556
2     1.0      1.0  ...                   45.454545                 0.183333
3     1.0      1.0  ...                   21.525000                 0.333333
4     1.0      0.0  ...                   42.553191                 0.391667

[5 rows x 22 columns]

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(xs, target, test_size=0.2, random_state=40)

In [15]:
# from sklearn.metrics import accuracy_score
# from sklearn.ensemble import RandomForestClassifier
# model = RandomForestClassifier(n_estimators=200)
# model.fit(X_train, y_train)
# pred=model.predict(X_test)
# accuracy_score(y_test, pred)

In [16]:
from xgboost import XGBClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
parameters ={"learning_rate"    : [ 0.1,0.20,0.30 ] ,
             "max_depth"        : [ 6,7 ],
             #"min_child_weight" : [ 1, 3, 5, 7 ],
             "gamma"            : [ 0.0],
             #"colsample_bytree" : [ 0.5,1],
             "random_state"     : [1,2,3,4]}
classifier = XGBClassifier(n_estimators=30)
grid_search = GridSearchCV(estimator=classifier,
                           param_grid=parameters,
                           scoring='accuracy',
                           cv=10,
                           n_jobs=1)
model5= grid_search.fit(xs, target)
best_parameters = grid_search.best_params_
best_accuracy = grid_search.best_score_

In [17]:
from xgboost import XGBClassifier
classifier= XGBClassifier(n_estimators=30, max_depth=6,learning_rate=0.1,gamma=0,random_state=1)
classifier.fit(X_train,y_train)
print(best_parameters)
print(best_accuracy)
y_pred=model5.predict(X_test)
from sklearn import metrics
metrics.accuracy_score(y_pred, y_test)

{'gamma': 0.0, 'learning_rate': 0.1, 'max_depth': 6, 'random_state': 1}
0.799709148598625

0.8943089430894309

In [18]:
# pip install catboost

In [19]:
# from catboost import CatBoostRegressor
# from catboost import CatBoostClassifier, Pool
# model=CatBoostRegressor(iterations=100, depth=5, learning_rate=0.05, loss_function='RMSE')
# dtrain = Pool(data=X_train, label=y_train)
# model.fit(dtrain)
# pred=model.predict(X_test)
# accuracy_score(y_test, pred.round())

In [20]:
Xt.isnull().sum()
Xt['Gender'].fillna(Xt['Gender'].mode()[0], inplace=True)
Xt['Married'].fillna(Xt['Married'].mode()[0], inplace=True)
Xt['Self_Employed'].fillna(Xt['Self_Employed'].mode()[0], inplace=True)
Xt['Dependents'].fillna(Xt['Dependents'].mode()[0], inplace=True)
Xt['Loan_Amount_Term'].fillna(Xt['Loan_Amount_Term'].mode()[0], inplace=True)
Xt['Credit_History'].fillna(2, inplace=True)


Xt['Very_Short_Term'] = Xt['Loan_Amount_Term'].map(lambda t: 1 if t<=60 else 0)
Xt['Short_Term'] = Xt['Loan_Amount_Term'].map(lambda t: 1 if t>60 and t<180 else 0)
Xt['Long_Term'] = Xt['Loan_Amount_Term'].map(lambda t: 1 if t>=180 and t<=300  else 0)
Xt['Very_Long_Term'] = Xt['Loan_Amount_Term'].map(lambda t: 1 if t>300 else 0)
# Xt.drop('Loan_Amount_Term', axis=1, inplace=True)

Xt['Credit_History_Bad'] = Xt['Credit_History'].map(lambda c: 1 if c==0 else 0)
Xt['Credit_History_Good'] = Xt['Credit_History'].map(lambda c: 1 if c==1 else 0)
Xt['Credit_History_Unknown'] = Xt['Credit_History'].map(lambda c: 1 if c==2 else 0)
Xt.drop('Credit_History', axis=1, inplace=True)

from sklearn.preprocessing import LabelEncoder
var_mo = ['Gender','Married','Dependents','Education','Self_Employed','Property_Area']
lee = LabelEncoder()
for i in var_mo:
    Xt[i] = lee.fit_transform(Xt[i])

In [21]:
from sklearn.impute import KNNImputer
Xt_=Xt.copy()
Xt_.drop(['Loan_ID'],axis=1, inplace=True)
imput = KNNImputer(n_neighbors=15)
imputd = imput.fit_transform(Xt_)
xtimp = pd.DataFrame(imputd, columns=Xt_.columns)
xtimp.head()
Xt=xtimp.copy()
Xt.head()
# Xt['LoanAmount'].fillna(Xt['LoanAmount'].mean(), inplace=True)
# Xt.drop(['Loan_ID'],axis=1, inplace=True)

Xt['TotalIncome'] = Xt['ApplicantIncome'] + Xt['CoapplicantIncome']
Xt['TotalIncome_log'] = np.log(Xt['TotalIncome'])
Xt.drop(['ApplicantIncome','CoapplicantIncome'],axis=1)
Xt['total_income_by_loanAmt'] = Xt['TotalIncome'] / Xt['LoanAmount']
Xt['ApplicantIncome_by_loanAmt'] = Xt['ApplicantIncome'] / Xt['LoanAmount']
Xt['Loan_Amount_Term_By_amt'] = Xt['LoanAmount'] / Xt['Loan_Amount_Term']
Xt.drop(['ApplicantIncome','CoapplicantIncome'],axis=1)

     Gender  Married  ...  ApplicantIncome_by_loanAmt  Loan_Amount_Term_By_amt
0       1.0      1.0  ...                   52.000000                 0.305556
1       1.0      1.0  ...                   24.412698                 0.350000
2       1.0      1.0  ...                   24.038462                 0.577778
3       1.0      1.0  ...                   23.400000                 0.277778
4       1.0      0.0  ...                   42.000000                 0.216667
..      ...      ...  ...                         ...                      ...
362     1.0      1.0  ...                   35.477876                 0.313889
363     1.0      1.0  ...                   36.156522                 0.319444
364     1.0      0.0  ...                   25.793651                 0.350000
365     1.0      1.0  ...                   31.645570                 0.438889
366     1.0      0.0  ...                   93.877551                 0.544444

[367 rows x 20 columns]

In [22]:
# from sklearn.metrics import accuracy_score
# from sklearn.ensemble import RandomForestClassifier
# model1 = RandomForestClassifier(n_estimators=200)
# # model.fit(X_train, y_train)
# # pred=model.predict(X_test)
# # accuracy_score(y_test, pred)
# model1.fit(xs, target)
# pred1=model.predict(Xt)


# from catboost import CatBoostRegressor
# from catboost import CatBoostClassifier, Pool
# model=CatBoostRegressor(iterations=100, depth=5, learning_rate=0.05, loss_function='RMSE')
# dtrain = Pool(data=xs, label=target)
# model.fit(dtrain)
# pred=model.predict(Xt)

In [23]:
from xgboost import XGBClassifier
classifier= XGBClassifier(n_estimators=30, max_depth=6,learning_rate=0.1,gamma=0,random_state=1)
classifier.fit(xs,target)

pred1y=model5.predict(Xt)

In [24]:
df_output = pd.DataFrame()
aux = pd.read_csv('test.csv')
df_output['Loan_ID'] = aux['Loan_ID']
df_output['Loan_Status'] = np.vectorize(lambda s: 'Y' if s==1 else 'N')(pred1y)
df_output[['Loan_ID','Loan_Status']].to_csv('ou11xg.csv',index=False)